.workoutMeta {
  $self: &;
  display: flex;

  &__dateAndTime {
    flex: 1;
  }

  &__completedAt {
    span {
      margin-left: 0.5rem;
    }
  }

  &__duration,
  &__volume {
    display: flex;
    align-items: center;
    margin-left: 1rem;

    span {
      margin-left: 0.5rem;
    }
  }

  &.vertical {
    flex-direction: column;

    #{$self}__duration,
    #{$self}__volume {
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }
}
