@import '../../../../styles/common';

.workoutMeta {
  display: flex;

  @media (max-width: $small-screen-width) {
    flex-direction: column;
  }

  &__completedAt {
    flex: 1;
    span {
      margin-left: 0.5rem;
    }
  }

  &__duration,
  &__volume {
    display: flex;
    align-items: center;
    margin-left: 1rem;

    span {
      margin-left: 0.5rem;
    }
  }

  @media (max-width: $small-screen-width) {
    flex-direction: column;

    &__duration,
    &__volume {
      margin-left: 0;
      margin-top: 0.2rem;
    }
  }
}
