@import '../styles/common';

.router {
  width: 100%;
  height: 100%;
  display: flex;
  background: $medium-grey;

  @media (max-width: $medium-screen-width) {
    flex-direction: column;
  }

  .route {
    flex: 1;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    color: $light-grey;
  }

  &__placeholder {
    align-self: center;
    justify-self: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      font-size: 0.8rem;
      margin-top: 1rem;
      font-style: italic;
      color: rgba($light-grey, 0.5);
    }
  }
}
