@import '../styles/variables';

.router {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;

  .route {
    flex: 1;
    display: flex;
    background: $medium-grey;
    color: $light-grey;
  }
}
