@import '../../styles/common';

.exercisesView {
  @include viewContainerStyles;
  flex: 1;

  &__header {
    @include viewHeaderStyles;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  &__placeholders {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 2rem;
  }

  &__searchBar {
    align-self: flex-start;
    position: relative;
    background: green;
    display: flex;

    input {
      @include inputStyles;
      height: 2.5rem;
      max-width: 12rem;
      text-align: left;
      padding-left: 0.5rem;
      padding-right: 2.5rem;
    }

    &__icon {
      position: absolute;
      right: 0.5rem;
      top: 0;
      width: 1.2rem;
      height: 2.5rem;
      opacity: 0.5;
    }
  }
}
