@import '../../styles/common';

.exercises-view {
  @include viewContainerStyles;
  flex: 1;

  .view-header {
    @include viewHeaderStyles;
  }

  .view-content {
    flex: 1;

    .exerciseCardList {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-gap: 1rem;
    }

    .exerciseCard {
      @include boxShadows;
      background: $off-black;
      padding: 1rem;
      border-radius: 10px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: all 0.3s;
      display: flex;
      flex-direction: column;

      &__title {
        font-weight: 600;
        cursor: inherit;
        transition: color 0.3s;
        margin-bottom: 0.5rem;
      }

      &__details {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
      }

      &__detailKey {
        display: inline-block;
        min-width: 4rem;
        margin-right: 1rem;
      }

      &__detailValue {
        border-radius: 4px;
        padding: 0.15rem 0.5rem;
        color: $off-white;

        &--bodypart {
          background: $faded-purple;
        }

        &--category {
          background: $faded-green;
        }
      }

      &:hover .exerciseCard__title {
        color: $white;
      }
    }
  }
}
