@import '../../../styles/common';

.activitySummary {
  color: $light-grey;
  display: grid;
  grid-template-columns: 1fr 20rem;
  grid-template-rows: min-content 1fr;
  grid-gap: 1rem;

  @media (max-width: $medium-screen-width) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 15rem 1fr;
    grid-gap: 0.5rem;
  }

  &__title {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 1rem;

    @media (max-width: $medium-screen-width) {
      grid-column: 1 / -1;
      grid-row: span 1;
    }
  }

  &__chart {
    grid-column: 1 / span 1;
    grid-row: span 1 / -1;
    @include boxShadows;
    background: $off-black;
    border-radius: 12px;
    padding: 2rem 1rem 1rem 0;
    font-size: 0.9rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;

    &__title {
      align-self: flex-start;
      font-weight: 600;
      margin-left: 0.5rem;
    }

    @media (max-width: $medium-screen-width) {
      grid-column: 1 / -1;
      grid-row: span 1;
    }
  }

  &__calendar {
    grid-column: span 1 / -1;
    grid-row: span 1 / -1;

    @media (max-width: $medium-screen-width) {
      grid-column: 1 / -1;
      grid-row: span 1;
    }
  }
}
