@import '../../styles/common';

table {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    text-align: center;
    vertical-align: middle;
    padding: 0.2rem 0.5rem;

    @media (max-width: $small-screen-width) {
      padding: 0.2rem 0.25rem;
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:nth-of-type(2) {
      width: 100%;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  th {
    font-size: 0.9rem;
    font-weight: 600;
  }
}
