$off-black: #1a1d22;
$dark-grey: #21252b;
$medium-grey: #282c34;
$light-grey: #b5b6c4;

$dark-blue: #1a3655;
$light-blue: #0078ff;
$faded-yellow: #a3944d;
$faded-purple: #705d94;
$faded-pink: #945179;
$faded-green: #4a7c75;
$red: #d92538;
$green: #24ba39;
$white: #f1f1f1;
$off-white: #ddd;

$medium-screen-width: 960px;
