@import '../../styles/_variables.scss';

.sidebar {
  border: 1px solid $grey;
  display: flex;
  flex-direction: column;
  width: 14rem;

  button {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid $grey;
    transition: all 0.2s;
    font-size: 1rem;
    font-weight: 700;

    &.current {
      background: $grey;
      color: white;
    }
  }
}
