@import '../../styles/common';

.sideBar {
  background: $dark-grey;
  width: 100%;
  height: 4rem;
  display: flex;
  color: $white;

  @media (max-width: $small-screen-width) {
    height: 3rem;
  }
}

.siteLogo {
  width: 6rem;
  margin: 0 1.5rem;
  display: flex;
  align-items: center;

  &__name {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
    position: relative;

    @media (max-width: $medium-screen-width) {
      font-size: 1.2rem;
    }
  }

  &__badge {
    align-self: flex-end;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.6rem;
    font-weight: 600;
    padding: 0.1rem 0.3rem;
    background-color: $light-blue;
    display: inline-block;
    border-radius: 4px;

    @media (max-width: $medium-screen-width) {
      font-size: 0.5rem;
      margin-bottom: 0.8rem;
    }
  }
}

.link-button-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex: 1;
  grid-column: 1 / -1;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0;
  background: transparent;

  @media (max-width: $small-screen-width) {
    height: 3rem;
    position: fixed;
    background: $dark-grey;
    bottom: 0;
    z-index: 1;
    justify-content: space-between;
    border-bottom: none;
    padding-top: 0rem;
  }

  .link-button {
    @include pointerStyles;
    display: flex;
    align-items: center;
    outline: none;
    background: transparent;
    border: none;
    transition: all 0.3s;
    font-size: 0.9rem;
    color: inherit;
    opacity: 0.5;
    position: relative;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;

    @media (max-width: $medium-screen-width) {
      padding: 0.5rem;
      margin: 0 0.2rem;
    }

    > span {
      margin: 0;
    }

    &:hover {
      opacity: 0.75;
    }

    &.current {
      opacity: 1;

      &::after {
        content: '';
        background-color: $light-blue;
        opacity: 0.8;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        position: absolute;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }
}
