@import '../../styles/variables';

.sidebar {
  background: $dark-grey;
  display: flex;
  flex-direction: column;
  width: 14rem;
  color: $off-white;

  .site-logo {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
  }

  .link-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    .link-button {
      display: flex;
      align-items: center;
      padding: 0.5rem 1.5rem;
      cursor: pointer;
      outline: none;
      background: transparent;
      border: none;
      transition: all 0.3s;
      font-size: 1rem;
      color: inherit;
      opacity: 0.5;
      position: relative;

      &:hover {
        opacity: 0.75;
      }

      &.current {
        opacity: 1;
        &::after {
          content: '';
          width: 4px;
          height: 25px;
          background-color: $light-blue;
          opacity: 0.8;
          left: 0;
          position: absolute;
          display: block;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }

      > label {
        cursor: inherit;
        margin-left: 1rem;
      }
    }
  }
}
