@import '../../../styles/common';

.exercise-section {
  margin: 2rem 0;

  .exercise-name {
    font-weight: 600;
    margin: 0.5rem 0;
    color: white;
  }

  .exercise-sets {
  }

  .add-set-btn {
    @include tertiaryButtonStyles;
    @include flexCenterHorizontally;
    padding-left: 0;
    transition: all 0.1s;
    &:hover {
      color: white;
    }
  }
}
