@import '../../../../styles/common';

.log-item-exercise {
  margin-top: 0.5rem;

  &-name {
    color: $off-white;
    font-weight: 600;
  }

  &-sets {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      margin-top: 0.5rem;

      .set-number,
      .set-reps {
        margin-right: 1rem;
      }
    }
  }
}
