@import '../../styles/common';

.progress-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .ring-container {
    position: absolute;
    pointer-events: none;
    transform: rotate(-90deg);

    .static-ring {
      stroke: $dark-blue;
      fill: transparent;

      &.reverse {
        stroke: $light-blue;
      }
    }

    .animated-ring {
      stroke: $light-blue;
      fill: transparent;

      &.reverse {
        stroke: $dark-blue;
      }

      &.animated {
        transition: 1s linear all;
      }
    }
  }

  .time-remaining {
    font-size: 3.5rem;
    font-weight: 600;
  }
}
