@import '../../styles/common';

.logsView {
  @include viewContainerStyles;
  flex: 1;

  &__header {
    @include viewHeaderStyles;
  }

  &__content {
    flex: 1;
  }

  &__placeholders {
    width: 35rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 2rem;
  }
}
