@import '../../styles/common';

.logs-view {
  @include viewContainerStyles;
  flex: 1;

  .view-header {
    @include viewHeaderStyles;
  }

  .view-content {
    flex: 1;
    max-width: 35rem;

    .logs {
      display: flex;
      flex-direction: column;
    }
  }
}
