@import '../../styles/common';

.logsView {
  @include viewContainerStyles;
  flex: 1;

  &__header {
    @include viewHeaderStyles;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 35rem;
  }

  &__calendar {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &__title {
      font-size: 1.2rem;
      margin: 1rem 0;
    }
  }

  &__placeholders {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 2rem;

    @media (max-width: $small-screen-width) {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      grid-gap: 0.5rem;
    }
  }
}
