@import '../../../styles/common';

.routineCardList {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;

    @media (max-width: $small-screen-width) {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      grid-gap: 0.5rem;
    }
  }

  &__placeholder {
    height: 2rem;
    font-size: 0.9rem;
    color: $light-grey;
    opacity: 0.8;
  }
}
