@import '../../../../styles/common';

.exerciseSummary {
  margin-top: 0.5rem;

  &__name {
    color: $off-white;
    font-weight: 600;
  }

  &__setList {
    display: flex;
    flex-direction: column;
  }

  &__set {
    display: flex;
    margin-top: 0.5rem;
  }
  &__setNumber,
  &__setReps {
    margin-right: 1rem;
  }
}
