@import '../../styles/common';

.rest-timer {
  min-width: 20rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;

  @media (max-width: $small-screen-width) {
    min-width: 15rem;
    min-height: 28rem;
  }

  &-header {
    font-size: 1.2rem;
    font-weight: 600;
  }

  &-footer {
    display: flex;
    flex-direction: column;

    .duration-btn-container {
      margin-bottom: 3rem;
      display: flex;
      justify-content: space-between;

      .add-duration-btn {
        @include tertiaryButtonStyles;
        @include flexCenterHorizontally;
        padding: 0;
      }
    }

    .control-btn-container {
      display: flex;

      .reset-btn {
        @include secondaryButtonStyles;
        margin-right: auto;
      }

      .toggle-btn {
        @include primaryButtonStyles;
      }
    }
  }
}
