@import '../../styles/common';

.exerciseCardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;
  padding: 1rem 0;
}

.exerciseCard {
  $self: &;
  @include cardStyles;
  cursor: pointer;
  transition: all 0.3s;

  &__title {
    font-weight: 600;
    cursor: inherit;
    transition: color 0.3s;
    margin-bottom: 0.5rem;
  }

  &__details {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
  }

  &__detailKey {
    display: inline-block;
    min-width: 4rem;
    margin-right: 1rem;
  }

  &__detailValue {
    border-radius: 3px;
    padding: 0.15rem 0.3rem;
    color: $off-white;

    &--bodypart {
      background: $faded-purple;
    }

    &--category {
      background: $faded-green;
    }
  }

  &:hover #{$self}__title {
    color: $white;
  }

  &.selected {
    pointer-events: none;

    #{$self}__title,
    #{$self}__details {
      opacity: 0.5;
    }
  }

  .selectedIcon {
    @include primaryActionIconStyles;
    width: 1.5rem;
    height: 1.5rem;
    right: 1rem;
    bottom: 1rem;
    font-size: 1rem;
    opacity: 1;
  }
}
