@import '../../../styles/common';

.workoutCardList {
  display: flex;
  flex-direction: column;
  max-width: 35rem;

  &__title {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__workouts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;
  }

  &__placeholder {
    height: 4rem;
    font-size: 0.9rem;
    color: $light-grey;
    opacity: 0.8;
  }
}
