@import '../../styles/common';

$border-color: rgba($light-grey, 0.2);

/* GRID */
.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;

  &--start {
    text-align: start;
  }
  &--center {
    text-align: center;
  }
  &--end {
    text-align: end;
  }
}

/* Calendar */
.calendar {
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;

  display: block;
  position: relative;
  border: 1px solid transparent;
  border-radius: 8px;
  height: auto;
  background: $off-black;

  .header {
    font-weight: 600;
    font-size: 100%;
    padding: 1em 0;
    border-bottom: 1px solid $border-color;

    .icon {
      cursor: pointer;
      transition: 0.15s ease-out;

      &:hover {
        // transform: scale(1.75);
        // transition: 0.25s ease-out;
        color: dodgerblue;
      }

      &:first-of-type {
        margin-left: 1em;
      }
      &:last-of-type {
        margin-right: 1em;
      }
    }
  }

  .days {
    text-transform: uppercase;
    font-weight: 400;
    color: $light-grey;
    font-size: 70%;
    padding: 0.75em 0;
    border-bottom: 1px solid $border-color;
  }

  .body {
    .cell {
      position: relative;
      height: 4em;
      border-right: 1px solid $border-color;
      overflow: hidden;
      cursor: pointer;
      transition: 0.25s ease-out;

      // &:hover {
      //   background: whitesmoke;
      //   transition: 0.25s ease-out;
      // }
    }

    // .selected {
    //   border-left: 5px solid transparent;
    //   border-image: linear-gradient(45deg, #1affa0 0%, #cff153 40%);
    //   border-image-slice: 1;
    // }

    .marked {
      @include primaryActionIconStyles;
      width: 1.2rem;
      height: 1.2rem;
      left: 0.5rem;
      bottom: 0.5rem;
      font-size: 0.8rem;
      opacity: 1;
    }

    .row {
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: none;
      }
    }

    .cell {
      &:last-child {
        border-right: none;
      }

      .number {
        position: absolute;
        font-size: 82.5%;
        line-height: 1;
        top: 0.75em;
        right: 0.75em;
        font-weight: 700;
      }

      pointer-events: none;
    }

    .cell:hover .number,
    .selected .number {
      visibility: hidden;
    }

    .disabled {
      color: rgba($light-grey, 0.2);
      pointer-events: none;
    }

    .cell .bg {
      font-weight: 700;
      line-height: 1;
      color: #1affa0;
      color: $light-blue;
      opacity: 0;
      font-size: 5em;
      position: absolute;
      top: -0.2em;
      right: -0.05em;
      transition: 0.25s ease-out;
      letter-spacing: -0.07em;
    }

    .cell:hover .bg,
    .selected .bg {
      opacity: 0.3;
      transition: 0.5s ease-in;
    }

    .column {
      flex-grow: 0;
      flex-basis: calc(100% / 7);
      width: calc(100% / 7);
    }
  }
}
