@import '../../styles/common';

$border-color: rgba($light-grey, 0.2);

/* GRID */
.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;

  &--start {
    text-align: start;
  }
  &--center {
    text-align: center;
  }
  &--end {
    text-align: end;
  }
}

/* Calendar */
.calendar {
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;

  display: block;
  position: relative;
  border: 1px solid transparent;
  border-radius: 8px;
  height: auto;
  background: $off-black;

  .header {
    font-weight: 600;
    font-size: 0.8rem;
    padding: 1em 0;
    border-bottom: 1px solid $border-color;

    .icon {
      cursor: pointer;
      transition: 0.15s ease-out;

      &:hover {
        color: dodgerblue;
      }

      &:first-of-type {
        margin-left: 1em;
      }
      &:last-of-type {
        margin-right: 1em;
      }
    }
  }

  .days {
    text-transform: uppercase;
    font-weight: 400;
    color: $light-grey;
    font-size: 0.7rem;
    padding: 0.75em 0;
    border-bottom: 1px solid $border-color;
  }

  .body {
    .cell {
      position: relative;
      height: 3em;
      border-right: 1px solid $border-color;
      overflow: hidden;
      cursor: pointer;
      transition: 0.25s ease-out;
    }

    .marked {
      @include primaryActionIconStyles;
      left: calc(50% - 0.7rem);
      top: calc(50% - 0.7rem);
      width: 1.4rem;
      height: 1.4rem;
      font-size: 0.8rem;
      opacity: 1;
    }

    .row {
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: none;
      }
    }

    .cell {
      display: flex;
      align-items: center;
      justify-content: center;

      &:last-child {
        border-right: none;
      }

      .number {
        font-size: 0.8rem;
      }

      &.today {
        background: lighten($off-black, 5%);
      }

      pointer-events: none;
    }

    .disabled {
      color: rgba($light-grey, 0.2);
      pointer-events: none;
    }

    .column {
      flex-grow: 0;
      flex-basis: calc(100% / 7);
      width: calc(100% / 7);
    }
  }
}
