@import '../../../styles/common';

.rest-timer {
  min-width: 20rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;

  &-header {
    font-size: 1.2rem;
    font-weight: 600;
  }

  &-footer {
    display: flex;

    .rest-timer-reset-btn {
      @include secondaryButtonStyles;
      margin-right: auto;
    }

    .rest-timer-toggle-btn {
      @include primaryButtonStyles;
    }
  }
}
