@import '../../../styles/common';

.workoutCard {
  @include cardStyles;
  font-size: 0.9rem;
  margin-bottom: 1rem;

  &__name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: $off-white;
  }

  &__exercises {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-bottom: 3rem;
  }

  &__buttonContainer {
    position: absolute;
    display: flex;
    bottom: 1rem;
    right: 1rem;
  }

  &__button {
    margin-left: 1rem;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &--primary {
      @include primaryActionIconStyles;
      position: relative;
    }

    &--secondary {
      @include secondaryActionIconStyles;
      position: relative;
    }
  }
}
