@import '../../../styles/common';

.workoutCard {
  @include cardStyles;
  font-size: 0.9rem;
  margin-bottom: 1rem;

  &__name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: $off-white;
  }

  &__exercises {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  &__buttonContainer {
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
  }

  &__button {
    margin-left: 1rem;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &--primary {
      @include primaryActionIconStyles;
      position: relative;
    }

    &--secondary {
      @include secondaryActionIconStyles;
      position: relative;
    }

    &:first-of-type {
      @include tertiaryButtonStyles;
      align-self: flex-end;
      border: none;
      padding: 0;
      padding-bottom: 0.5rem;
      margin-left: 0;
      margin-right: auto;
      display: flex;
      font-weight: 400;
      font-size: 0.9rem;
      color: $light-grey;
      opacity: 0.8;
      user-select: none;
      @include pointerStyles;

      @media (max-width: $small-screen-width) {
        padding: 0;
        padding-bottom: 0.5rem;
      }
    }
  }
}
