@import '../../../styles/common';

.workoutView {
  @include viewContainerStyles;
  flex: 1;

  &__header {
    @include viewHeaderStyles;
  }

  &__title {
    outline: none;
    border: none;
    font-size: 2.2rem;
    color: inherit;
    background: transparent;
    pointer-events: none;

    &--editable {
      background: $dark-grey;
      pointer-events: auto;
    }
  }

  &__content {
    flex: 1;
    max-width: 40rem;

    .workout-controls {
      color: $light-grey;
      display: flex;
      align-items: flex-end;
      margin-bottom: 1rem;
      font-size: 0.9rem;

      &-duration-timer {
        font-size: 1.6rem;

        label {
          font-size: 0.8rem;
          display: block;
          margin-bottom: 0.2rem;
        }
      }

      &-rest-timer {
        font-size: 1.6rem;
        margin-left: 1rem;

        button {
          @include secondaryButtonStyles;
          padding: 0.6rem 1rem;
        }
      }

      &-actions {
        display: flex;
        margin-left: auto;

        .finish-workout-btn {
          @include primaryButtonStyles;
          margin-left: 0.5rem;
        }

        .finish-workout-btn.disabled {
          @include disabledButtonStyles;
          margin-left: 0.5rem;
        }

        .cancel-workout-btn {
          @include secondaryButtonStyles;
        }
      }
    }

    .add-exercise-btn {
      @include tertiaryButtonStyles;
      @include flexCenterHorizontally;
      margin: 0 auto;
      border-top: 1px solid rgba($light-grey, 0.2);
      border-radius: 0;
      padding: 1rem;
      width: 100%;
      transition: all 0.1s;
      &:hover {
        color: white;
      }
    }
  }
}
