@import '../../styles/common';

.workoutTemplate {
  @include viewContainerStyles;
  flex: 1;

  &__header {
    @include viewHeaderStyles;
  }

  &__name {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
    opacity: 0.8;
  }

  &__title {
    border: none;
    font-size: 2rem;
    color: inherit;
    background: transparent;
    pointer-events: none;
    max-width: 30rem;
    width: 100%;

    @media (max-width: $small-screen-width) {
      font-size: 1.6rem;
    }

    &--editable {
      background: $dark-grey;
      pointer-events: auto;
    }
  }

  &__content {
    flex: 1;
    max-width: 30rem;
    padding-bottom: 2rem;

    .workout-controls {
      color: $light-grey;
      display: grid;
      grid-template-columns: repeat(2, min-content) 1fr;
      grid-template-rows: repeat(2, min-content);
      grid-row-gap: 1rem;
      margin-bottom: 1rem;
      font-size: 0.9rem;

      &-duration-timer {
        font-size: 1.6rem;
        grid-column: 1 / span 1;
        grid-row: 1 / -1;

        label {
          font-size: 0.8rem;
          display: block;
          margin-bottom: 0.2rem;
        }

        @media (max-width: $small-screen-width) {
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
          display: flex;

          label {
            margin-right: 0.5rem;
          }
        }
      }

      &-rest-timer {
        font-size: 1.6rem;
        margin-left: 1rem;
        grid-column: 2 / span 1;
        grid-row: 1 / -1;
        align-self: flex-end;
        height: 2rem;

        @media (max-width: $small-screen-width) {
          margin-left: 0;
          grid-column: span 1 / -1;
          grid-row: 1 / span 1;
          justify-self: flex-end;
        }

        button {
          @include secondaryButtonStyles;
        }
      }

      &-actions {
        display: flex;
        margin-left: auto;
        grid-column: span 1 / -1;
        grid-row: 1 / -1;
        align-self: flex-end;

        @media (max-width: $small-screen-width) {
          grid-column: 1 / -1;
          grid-row: span 1 / -1;
          margin-left: 0;
        }

        .finish-workout-btn {
          @include primaryButtonStyles;
          margin-left: 0.5rem;

          @media (max-width: $small-screen-width) {
            flex: 1;
          }
        }

        .finish-workout-btn.disabled {
          @include disabledButtonStyles;
          margin-left: 0.5rem;
        }

        .cancel-workout-btn {
          @include secondaryButtonStyles;

          @media (max-width: $small-screen-width) {
            flex: 1;
          }
        }
      }
    }

    .add-exercise-btn {
      @include tertiaryButtonStyles;
      @include flexCenterHorizontally;
      margin: 0 auto;
      border-top: 1px solid rgba($light-grey, 0.2);
      border-radius: 0;
      padding: 1rem;
      width: 100%;
      transition: all 0.1s;
      &:hover {
        color: white;
      }
    }
  }
}
