@import '../../../styles/common';

.quickActions {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  &__title {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem 0;
  }
}

.actionCardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1rem;

  @media (max-width: $medium-screen-width) {
    grid-gap: 0.5rem;
  }
}

.actionCard {
  @include cardStyles;
  height: 10rem;
  cursor: pointer;

  &__title {
    font-size: 1.2rem;
    cursor: inherit;
    transition: color 0.2s;
  }

  &:hover &__title {
    color: $white;
  }

  &__button {
    @include primaryActionIconStyles;
    right: 1rem;
    bottom: 1rem;
  }

  &:hover &__button {
    opacity: 1;
  }

  @media (max-width: $small-screen-width) {
    height: 6rem;

    &__title {
      font-size: 1rem;
    }
  }
}
