@import '../../../styles/common';

.quickActions {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
}

.actionCardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 1rem;
}

.actionCard {
  @include cardStyles;
  height: 10rem;
  cursor: pointer;

  &__title {
    font-size: 1.5rem;
    cursor: inherit;
    transition: color 0.2s;
  }

  &:hover &__title {
    color: $white;
  }

  &__button {
    @include actionIconStyles;
    right: 1rem;
    bottom: 1rem;
  }

  &:hover &__button {
    opacity: 1;
  }
}
