@import '../../styles/common';

.routinesView {
  @include viewContainerStyles;
  flex: 1;

  &__header {
    @include viewHeaderStyles;
  }

  &__content {
    flex: 1;
    padding-bottom: 1rem;
  }
}

.routineControlBar {
  display: flex;

  &__addNew {
    @include primaryButtonStyles;
    @include flexCenterHorizontally;
    margin-left: auto;
  }
}
