@import '../../styles/common';

.routines-view {
  @include viewContainerStyles;
  flex: 1;

  .view-header {
    @include viewHeaderStyles;
  }

  .view-content {
    flex: 1;

    .routines {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-gap: 1rem;
    }
  }
}
