@import '../../../styles/common';

.logs-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba($light-grey, 0.2);
  border-radius: 4px;
  font-size: 0.9rem;
  position: relative;

  &-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: $off-white;
  }

  &-exercises {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  &-buttons {
    position: absolute;
    display: flex;
    bottom: 1rem;
    right: 1rem;
  }

  &__button {
    @include actionIconStyles;
    position: relative;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
