@import '../../../styles/common';

.logs-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba($light-grey, 0.2);
  border-radius: 4px;
  font-size: 0.9rem;

  &-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: $off-white;
  }

  &-meta {
    display: flex;
    margin-top: 0.5rem;

    &-completedAt {
      flex: 1;
    }

    &-duration,
    &-volume {
      display: flex;
      align-items: center;
      margin-left: 1rem;

      span {
        margin-left: 0.5rem;
      }
    }
  }

  &-exercises {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
}
