@import '../../styles/common';

.mainView {
  @include viewContainerStyles;
  flex: 1;
  display: flex;
  flex-direction: column;

  &__header {
    @include viewHeaderStyles;

    strong {
      color: $white;
    }
  }

  &__content {
    flex: 1;
    display: flex;
  }

  &__quickActions {
    flex: 1;
  }
  &__calendar {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-right: 2rem;
    width: calc(6rem * 7);

    &__title {
      font-size: 1.2rem;
      margin: 1rem 0;
    }
  }
}
