@import '../../styles/common';

@include viewSharedStyles;

.view-content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12rem auto;
  grid-gap: 1rem;

  .weekly-progress,
  .workout-curation {
    @include flexCenterHorizontally;
    grid-column: span 1;
    grid-row: 2 / span 1;
    border: 1px solid $grey;
  }
}
