@import '../../../styles/common';

.userMenu {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.2rem;
  transition: background 0.1s;
  position: relative;
  overflow: visible;
  user-select: none;
  margin-left: auto;
  @include pointerStyles;

  &__actions {
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;

    width: 14rem;
    position: absolute;
    border-radius: 4px;
    padding: 0.5rem 0;
    background: $medium-grey;
    display: flex;
    flex-direction: column;
    left: 1rem;
    top: 100%;
    z-index: 1;
    overflow: hidden;

    @media (max-width: $medium-screen-width) {
      left: auto;
      right: 1rem;
      top: calc(100% + 1rem);
    }
  }

  &__action {
    height: 2rem;
    padding: 0 1rem;
    display: flex;
    justify-content: stretch;
    align-items: center;
    color: $light-grey;
    font-size: 0.9rem;
    &:hover {
      background: lighten($medium-grey, 5%);
    }
  }

  &__profile {
    display: flex;
    align-items: center;

    @media (max-width: $medium-screen-width) {
      border-bottom: 1px solid rgba($light-grey, 0.1);
      padding: 1rem;
      padding-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__profileImage {
    border-radius: 50%;
    overflow: hidden;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.5rem;
    img {
      max-width: 100%;
    }
  }

  &__profileMeta {
    display: flex;
    flex-direction: column;

    &--email {
      font-size: 0.7rem;
      color: $light-grey;
      margin-bottom: 0.2rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 9rem;
      display: inline-block;
    }

    &--name {
      font-size: 0.9rem;
      font-weight: 600;
      color: $light-grey;
    }
  }

  @media (min-width: $medium-screen-width) {
    margin-left: 0;

    &:hover {
      background: lighten($dark-grey, 5%);
    }
  }
}

.preferences {
  padding: 1rem;
  position: relative;

  @media (max-width: $small-screen-width) {
    padding: 0;
  }

  &__loading {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__section {
    > div:not(:last-of-type) {
      border-bottom: 1px solid rgba($light-grey, 0.1);
    }

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
  &__sectionName {
    font-size: 1.1rem;
    font-weight: 600;
    color: $off-white;
    padding-bottom: 1rem;
  }

  .userSetting {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, auto);
    color: $off-white;
    padding: 1rem 0;

    &__title {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }
    &__subtitle {
      grid-column: 1 / span 1;
      grid-row: span 1;
      font-size: 0.8rem;
      color: $light-grey;
    }
    &__control {
      grid-column: span 1 / -1;
      grid-row: 1 / -1;
      align-self: center;

      button.warning {
        @include warningButtonStyles;
        min-width: 8rem;
      }
    }
  }
}
