@import '../../../styles/common';

.routineCard {
  @include cardStyles;
  height: 12rem;

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
    cursor: inherit;
    margin-bottom: 0.5rem;
    transition: color 0.2s;
    color: $off-white;
  }

  &__exerciseList {
  }

  &__exerciseItem {
    margin-top: 0.2rem;
    font-size: 0.9rem;
  }

  &__buttonContainer {
    position: absolute;
    display: flex;
    bottom: 1rem;
    right: 1rem;
  }

  &__button {
    margin-left: 1rem;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &--primary {
      @include primaryActionIconStyles;
      position: relative;
    }

    &--secondary {
      @include secondaryActionIconStyles;
      position: relative;
    }
  }
}
