@import '../../../styles/common';

.routineCard {
  @include cardStyles;
  height: 12rem;
  cursor: pointer;

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
    cursor: inherit;
    flex: 1;
    transition: color 0.2s;
  }

  &:hover &__title {
    color: $white;
  }

  &__exerciseList {
  }

  &__exerciseItem {
    margin-top: 0.2rem;
    font-size: 0.9rem;
  }

  &__button {
    @include primaryActionIconStyles;
    right: 1rem;
    top: 1rem;
  }

  &:hover &__button {
    opacity: 1;
  }
}
